.container {
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	padding: 35px 20px;
	background: #394264;
	border-radius: 4px;
}

h1 {
	margin: 0;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	line-height: 11px;
}

.container input[type="text"],
.container input[type="password"] {
	height: 50px;
    width: 260px;
    border: 1px solid #1f253d;
    border-radius: 4px;
    background: #50597b;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 15.5px;
    padding-left: 45px;
    padding-right: 10px;
}

.container input[type="text"]:focus,
.container input[type="password"]:focus {
	border: 1px solid #11a8ab;
    border-radius: 4px;
    outline: none;
}

.container input[type="text"]::placeholder,
.container input[type="password"]::placeholder {
	color: #9099b7;
	font-size: 15.5px;
}

.container input[name="login"] {
	margin-top: 40px;
}

.container input[name="password"] {
	margin-top: 15px;
}

.container input[type="submit"] {
    width: 170px;
    height: 50px;
    margin: 25px 45px 0 45px;
    background: #e64c65;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    border: 0;
    border-radius: 4px;
}
.container input[type="submit"]:hover {
	background: #cc324b;
	outline: none;
}

.container input[type="submit"]:focus {
	background: #96192C;
	outline: none;
}
