.container {
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	padding: 37px 20px;
	background: #394264;
	border-radius: 4px;
}

h1 {
	margin: 0;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	line-height: 11px;
}

.container input[type="text"],
.container input[type="password"]{
	height: 50px;
    width: 260px;
    border: 1px solid #1f253d;
    margin-top: 43px;
    border-radius: 4px;
    background: #50597b;
    color: #fff;
    font-size: 16px;
