.container {
	width: 100%;
	max-width: 1200px;
	margin: 50px auto 0 auto;
	border-radius: 4px;
	font-family: 'Ubuntu', sans-serif;
}

.left {
	float: left;
	width: 300px;
}

.left li {
	height: 60px;
    background: #394264;
    list-style-type: none;
}

.left a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 60px;
    padding-left: 60px;
}

.left a:focus {
	background: #131D41;
}

.left a:hover {
	background: #50597b;
}

.activ a{
	background: #50597b;
}

.menu {
	background: #11a8ab !important;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    border-radius: 4px 4px 0 0;
}

.end {
	border-radius: 0 0 4px 4px;
}

.right {
	float: right;
    width: 870px;
    background: #394264;
    border-radius: 4px;
    padding: 20px;
}

h1 {
	margin: 0;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	line-height: 11px;
}

.errorlogin {
	text-align: center;
    color: #cc324b;
    margin-top: 15px;
    font-weight: 500;
}
