.container {
	width: 100%;
	max-width: 1200px;
	margin: 50px auto 0 auto;
	border-radius: 4px;
	font-family: 'Ubuntu', sans-serif;
}

.left {
	float: left;
	width: 300px;
}

.left li {
	height: 60px;
    background: #394264;
    list-style-type: none;
    border-bottom: 1px solid #1f253d;
}

.left a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 60px;
    padding-left: 60px;
    border-bottom: 1px solid #1f253d;
}

.left a:focus {
	background: #131D41;
	height: 60px;
	border-bottom: 1px solid #1f253d;
}

.left a:hover {
	background: #50597b;
	height: 60px;
	border-bottom: 1px solid #1f253d;
}

.activ a{
	background: #50597b;
	height: 60px;
	border-bottom: 1px solid #1f253d;
}

.menu {
	background: #11a8ab !important;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    border-radius: 4px 4px 0 0;
    border-bottom: 0 !important;
}

.end {
	border-radius: 0 0 4px 4px;
	border-bottom: 0 !important;
}

.end a {
	border-radius: 0 0 4px 4px;
	border-bottom: 0;
}

.right {
	float: right;
    width: 870px;
    background: #394264;
    border-radius: 4px;
    padding: 20px;
}

table {
	width: 100%;
    text-align: center;
}

tr {
	border: 1px solid;
}

h1 {
	margin: 0;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 10px; 
}

.errorlogin {
	text-align: center;
    color: #cc324b;
    margin-top: 15px;
    font-weight: 500;
}

.trtit {
	background: #1f253d;
}

.tr2 {
	background: #50597b;
}

input[type="text"] {
    height: 30px;
    width: 160px;
    border: 1px solid #1f253d;
    border-radius: 4px;
    background: #50597b;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 15.5px;
    padding-left: 10px;
    padding-right: 10px;
}

input[type="text"]::placeholder {
	color: #9099b7;
	font-size: 15.5px;
}

input[type="text"]:focus {
	border: 1px solid #11a8ab;
    border-radius: 4px;
    outline: none;
}

input[type="submit"] {
    width: 65px;
    height: 30px;
    background: #e64c65;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    border: 0;
    border-radius: 4px;
}

input[type="submit"]:hover {
	background: #cc324b;
	outline: none;
}

input[type="submit"]:focus {
	background: #96192C;
	outline: none;
}

select {
	height: 30px;
    width: 160px;
    border: 1px solid #1f253d;
    border-radius: 4px;
    background: #50597b;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 15.5px;
    padding-left: 10px;
    padding-right: 10px;
}

select::placeholder {
	color: #9099b7;
	font-size: 15.5px;
}

select:focus {
	border: 1px solid #11a8ab;
    border-radius: 4px;
    outline: none;
}

.filesend {
    width: 100%;
    height: 200px;
    border: 3px dashed;
    margin-top: 10px;
}

input[type="file"]{
    width: 824px;
    height: 194px;
    opacity: 0;
    z-index: 10;
    position: absolute;
}

.filesend #fileformlabel { 
    position: absolute;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 194px;
    width: 824px;
}

.errorSend {
    text-align: center;
    color: #cc324b;
    margin-top: 15px;
    font-weight: 500;
}