.container {
	width: 100%;
	max-width: 1200px;
	margin: 50px auto 0 auto;
	border-radius: 4px;
	font-family: 'Ubuntu', sans-serif;
}

.right {
	width: 300px;
}

.right li {
	height: 60px;
    background: #394264;
    list-style-type: none;
}

.right a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 60px;
    padding-left: 60px;
}

.activ a{
	background: #50597b;
}

.menu {
	background: #11a8ab !important;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    border-radius: 4px 4px 0 0;
}